.button-primary,
.button-secondary,
.button-soft,
.button-danger,
.button-success {
  font: inherit;
  font-size: 15px;
  font-weight: 700;

  border-radius: 18px;
  border: none;
}

.home-action-button {
  border: none;
  padding: 5px;
}

.button-primary {
  background: var(--primary-gradient);
  color: white;

  box-shadow: var(--primary-shadow);
}

.button-secondary {
  background: var(--primary-soft);
  color: var(--primary);

  border: 1px solid var(--primary-light);

  box-shadow: var(--shadow-soft);
}

.button-soft {
  background: var(--primary-soft);
  color: var(--primary);

  border: 1px solid var(--primary-light);

  box-shadow: none;
}

.button-danger {
  background: var(--red-bg);
  color: var(--red-text);

  box-shadow: none;
}

.button-success {
  background: var(--success-gradient);
  color: white;

  box-shadow: var(--success-shadow);
}
