* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;

  font-family: system-ui, sans-serif;

  line-height: 1.5;

  background: var(--background);
  color: var(--text);

  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none !important;
}


html {
  scroll-behavior: smooth;
}