.offline-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  padding: var(--space-8);

  text-align: center;
}

.offline-page h1 {
  margin-bottom: var(--space-4);
}

.offline-page p {
  max-width: 320px;

  margin-bottom: var(--space-8);
}